body {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0); 
  text-align: center;
  } 

/*navbar*/
ul {
  display: inline-block;
  list-style-type: none;
  text-align: left;
  margin-left: -40px;
  margin-top: -80px;
  }

.parent {
    position: relative;
}

@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Bold.ttf);
}

li {
  display: inline;
  font-family: opensans;
  font-size: 1.25em;
  padding-right: 25px;
  }

a:link {
  color: rgb(240,240,240);
  text-decoration: none;
  }

a:visited {
  color: rgb(200,200,200);
  text-decoration: none;
  }

hr {
  z-index: 2;
  width: 768px;
  }

hr.lineb {
  position: relative;
  border: 50px solid rgb(0,0,0);
}

img.base { 
    width: 100%;
    height: auto;
}

.topleft {
    position: absolute;
    width: 100%;
    height: auto;
    top: 495px;
    left:0px;
    
}


/*titles on every page*/

@font-face {
  font-family: script;
  src: url(../fonts/DancingScript-Regular.otf);
}

h1{
  width: 100%;
  min-width: 768px;
  text-align: center;
  margin-top: 0px;
  color: rgb(240,240,240);
  font-family: script;
  font-size: 2.75em;
}


/*main paragraphs*/
h2{
  width: 100%;
  min-width: 768px;
  max-width: 768px;
  margin: 0 auto;
  margin-top: -10px;
  text-align: left;
  text-indent: 50px;
  color: rgb(240,240,240);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25em;
  font-weight: lighter;
}


/*text over events*/
h3{
  width: 100%;
  min-width: 768px;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: center;
  color: rgb(240,240,240);
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
}

